# Set default behaviour, in case users don't have core.autocrlf set.
# Paksa semua file teks menjadi LF (Linux) saat di-checkout/di-commit
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
*.php text diff=php
*.js text
*.css text
*.html text
*.json text
*.md text

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary